<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.clickau.thermostat">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".ModifyScheduleActivity"
            android:label="@string/modify_schedule_modify_title"
            android:exported="false"/>

        <activity
            android:name=".SetupFirebaseActivity"
            android:label="@string/more_setup_firebase_button_text"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".SetupWifiActivity"
            android:label="@string/more_setup_wifi_button_text"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".SetupWifiActivity$SendRequestIntentService"
            android:exported="false" />

        <service
            android:name=".FirebaseService"
            android:exported="false" />

    </application>

</manifest>